<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
  <h1>Welcome to <%= @crm_app_name %>!</h1>
<p>Main menu</p>
<ul>
  <li><a href="/contacts">View all contacts</a></li>
    <h1>All Contacts</h1>
      <ul>
        <% Contact.all.each do |contact| %>
        <li><%= contact.first_name %> <%= contact.last_name %></li>
        <% end %>
      </ul>
  <!-- please complete me with links to other actions -->
  <li><a href="/contacts">Add a new contacts</a></li>
  <li><a href="/contacts">Modify an existing contact</a></li>
  <li><a href="/contacts">Delete a contact</a></li>
  <li><a href="/contacts">Search by attribute</a></li>
  <li><a href="/contacts">Exits</a></li>
</ul>

  </body>
</html>
